
body {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

.app-main {
  width: 800px;
  height: 480px;
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Consolas';

  cursor: none;
}